@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label, input:not(:empty) ~ label, input:visited ~ label {
    top: -20px;
    font-size: 14px;
    color: #3bc061;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #3bc061;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #3bc061;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #3bc061;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #3bc061;
    }

    to {
        width: 0;
        background: transparent;
    }
}
/**
 * Multiple Select2
 */
.select2-container--material {
    width: 100% !important;
}

    .select2-container--material ::placeholder {
        color: inherit;
    }

    .select2-container--material .select2-selection {
        overflow: visible;
        font: inherit;
        touch-action: manipulation;
        margin: 0;
        line-height: inherit;
        border-radius: 0;
        box-sizing: inherit;
        display: block;
        width: 100%;
        color: #55595c;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .15);
        padding: 0.5rem 0 0.6rem;
        font-size: 1rem;
        line-height: 1.5;
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        outline: 0;
        width: 100%;
        font-size: 1rem;
        box-shadow: none;
        transition: all 0.3s;
        min-height: 2.1rem;
    }

        .select2-container--material .select2-selection .select2-selection__rendered {
            padding-left: 0;
        }

    .select2-container--material .select2-selection--single .select2-selection__rendered {
        float: left;
    }

    .select2-container--material .select2-selection--single .select2-selection__arrow {
        float: right;
    }

    .select2-container--material .select2-selection--multiple .select2-selection__rendered {
        width: 100%;
    }

        .select2-container--material .select2-selection--multiple .select2-selection__rendered li {
            list-style: none;
        }

    .select2-container--material .select2-selection--multiple .select2-selection__choice {
        height: 32px;
        line-height: 32px;
        padding: 0 12px;
        border: 0;
        border-radius: 16px;
        background-color: #dedede;
        display: inline-block;
        color: rgba(0, 0, 0, .87);
        margin: 2px 0;
        font-size: 0;
        white-space: nowrap;
        font-size: 13px;
        vertical-align: middle;
        display: inline-block;
        float: left;
        margin-right: 8px;
        margin-bottom: 4px;
    }

    .select2-container--material .select2-selection--multiple .select2-selection__choice__remove {
        /* Hide default content */
        font-size: 0;
        opacity: 0.38;
        cursor: pointer;
        float: right;
        margin-top: 4px;
        margin-right: -6px;
        margin-left: 6px;
        transition: opacity;
    }

        .select2-container--material .select2-selection--multiple .select2-selection__choice__remove::before {
            content: "cancel";
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;
            line-height: 1;
            letter-spacing: normal;
            text-transform: none;
            display: inline-block;
            white-space: nowrap;
            word-wrap: normal;
            direction: ltr;
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            color: #000;
        }

        .select2-container--material .select2-selection--multiple .select2-selection__choice__remove:hover {
            opacity: 0.54;
        }

    .select2-container--material .select2-search--inline .select2-search__field {
        width: 100%;
        margin-top: 0;
        /* Match input[type=text] */
        height: 34px;
        line-height: 1;
    }

    .select2-container--material .select2-dropdown {
        border: 0;
    }

        .select2-container--material .select2-dropdown .select2-search__field {
            min-height: 2.1rem;
            margin-bottom: 16px;
            border: 0;
            border-bottom: 1px solid #ccc;
            transition: all 0.3s;
        }

            .select2-container--material .select2-dropdown .select2-search__field:focus {
                border-bottom: 1px solid #4285f4;
                box-shadow: 0 1px 0 0 #4585f4;
            }

    .select2-container--material .select2-results__options {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
        background-color: #fff;
        margin: 0;
        min-width: 100px;
        max-height: 650px;
        overflow-y: auto;
        z-index: 999;
        will-change: width, height;
    }

    .select2-container--material .select2-results__option {
        cursor: pointer;
        clear: both;
        color: rgba(0, 0, 0, .87);
        line-height: 1.5rem;
        text-align: left;
        text-transform: none;
        font-size: 1.2rem;
        display: block;
        padding: 1rem;
    }

        .select2-container--material .select2-results__option[aria-disabled=true] {
            color: rgba(0, 0, 0, .3);
            background-color: transparent !important;
            cursor: context-menu;
            cursor: not-allowed;
        }

        .select2-container--material .select2-results__option[aria-selected=true] {
            color: #4285f4;
            background-color: #eee;
        }

    .select2-container--material .select2-results__option--highlighted[aria-selected] {
        background-color: #ddd;
    }

    .select2-container--material.select2-container--focus {
    }

        .select2-container--material.select2-container--focus .select2-selection {
            border-bottom: 1px solid #4285f4;
            box-shadow: 0 1px 0 0 #4585f4;
        }

    .select2-container--material.select2-container--disabled {
    }

        .select2-container--material.select2-container--disabled .select2-selection {
            color: rgba(0, 0, 0, .3);
            cursor: default;
            user-select: none;
            border-bottom: 1px solid rgba(0, 0, 0, .3);
        }

        .select2-container--material.select2-container--disabled.select2-container--focus .select2-selection {
            box-shadow: none;
        }