:root {
    --bg: #ebebeb;
    --logo-bg: #1C1B19;
    --logo-acc: #3bc061;
    --yellow: #EAC43D;
    --sb-bg: white;
}
body {
    background-color: #f5ffec;
    min-height: 100vh;
}
#headNav {
    transition: height .2s ease;
    height: 11.5rem;

}
.headCont {
    position: absolute;
    background-color: var(--logo-bg);
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}
.headCont .menu {
    color: white;
    margin: 0;
    background: var(--logo-bg);
    background-repeat: repeat-x;
    position: absolute;
    left: 0;
    margin-left: 2rem;
}
.navigation-item-link {
    color: white !important;
}
.navigation-item-wrapper {
    background-color: var(--logo-bg);
}
.headCont .menu a:hover {
    text-decoration: none !important;
}
.headCont .login {
    cursor: pointer;
    color: white !important;
    margin: 0;
    position: absolute;
    right: 0;
    margin-right: 2rem;
}
#headNav .logo, .footer .logo {
    font-family: 'Crete Round', serif;
    color: white;
    font-size: 3rem;
}
#headNav a {
    text-decoration-color: var(--logo-acc);
}
#headNav a:hover, .footer a:hover{
    text-decoration: underline;
    text-decoration-color: var(--logo-acc);
}
#headNav .logo span, .footer .logo span{
    color: var(--logo-acc);
}
.navButton {
    font-size: 2rem;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    margin: 0.2rem 4rem;
    font-family: 'Roboto Slab', serif;
    border: 0rem solid var(--logo-acc);
    border-radius: .5rem;
    padding: 0rem 1rem;
    transition: border .2s ease, margin .2s ease;
}
.navButton:hover, .navButton:active, .navButton:focus {
    outline: none !important;
    text-decoration-color: var(--logo-acc);
}
.navButton a{
    color: white;
}
.searchCont {
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 6.5rem;
    display: flex;
    border-bottom: solid .7rem var(--sb-bg);
    transform: translate(0, 0%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
    transition: box-shadow .2s ease, transform .2s ease;
}
.searchIcon {
    height: 6rem;
    width: 7rem;
    fill: #757575;
    background-color: var(--sb-bg);
    padding: 1.5rem;
    padding-top: 2rem;
    padding-right: 0;
    cursor: pointer;
}
.searchIndex {
    height: 6rem;
    width: calc(100% - 6rem);
    font-family: Helvetica, sans-serif;
    margin: 0 !important;
    background-color: var(--sb-bg);
    color: #232323;
    outline: none !important;
    border: none !important;
    border-radius: 0;
    padding: 0 2rem;
}
.e-control.e-combobox.e-lib.e-input {
    height: 5rem;
    margin-top: .5rem;
    font-size: 2.5rem;
    outline: none !important;
    border: none !important;
}
    .e-input-group-icon {
        font-size: 5rem;
    }
.searchCont:hover {
    box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.2) 0px 3px 7px -3px;
}
.searchCont:focus-within {
    outline: none;
    border-bottom: solid .7rem var(--logo-acc);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.hidden{
    height: 5rem !important;
}
.hidden .searchCont{
    transform: translate(0, -100%);
}

.control-wrapper {
    margin: 0 auto;
    width: 300px;
}

.info {
    margin-left: 34px;
}

.suggestionText {
    display: block !important;
    opacity: .87;
    font-size: 16px;
    margin-top: 8px;
}

.name {
    padding: 5px 42px;
    opacity: .87;
    line-height: 1.063em;
}

.job {
    opacity: .54;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 7px;
}

.suggestionImage {
    margin: 6px 16px;
    float: left;
    width: 50px;
    height: 50px;
}

.value {
    border-radius: 50%;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

.template.e-popup .e-list-item * {
    display: block;
    text-indent: 0;
}

.template .e-dropdownbase.e-content {
    max-height: 800px !important; /*200px*/
}

.combo-height {
    height: 400px;
}

.padding-top {
    padding-top: 55px;
}




h1 {
    text-align: center;
    color: #2f2f2f;
    font-size: 5rem;
    margin-bottom: 5rem;
    font-weight: 700;
}
h3 {
    color: #3a3a3a;
    font-weight: 700;
}
    .bold {
        font-weight: 700;
    }
h2 {
    color: #2f2f2f;
    font-size: 3rem;
}
.acc {
    color: var(--logo-acc);
}
.block{
    margin-top: 4rem;
    width: 100%;
}
.infoCont {
    width: 100%;
    max-width: 60rem;
    transform: translate(-50%, 0);
    margin-left: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner{
    margin: 6rem 0;
    width: 100%;
    height: 15rem;
    background-image: url(images/banner.png);
    background-size:contain;
    background-repeat: repeat-x;
}

.page {
    width: 90%;
    max-width: 60rem;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.footer {
    background-color: var(--logo-bg);
    height: 12rem;
    margin-top: 8rem;
    width: 100%;
    background-image: url(images/banner_black.png);
    background-size: contain;
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git{
    position: absolute;
    bottom: 1rem;
}
.git a{
    color: white;
}
.git span{
    margin: 1rem .5rem;
    font-size: .9rem;
}
.git img{
    height: 1.5rem;
    margin-left: .8rem;
}


.queryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.searchMenu {
    margin-top: 2rem;
}
.reportPage .ui-tabview {
    margin-top: 2rem;
}
.reportPage .ui-tabview-panels {
    background-color: #F5FFEC;
    padding-bottom:5rem;
    box-shadow: none;
    outline: none;
    border:none;
}
.reportPage .ui-tabview-nav .ui-tabview-selected {
    background-color: #F5FFEC;
}
    .searchMenu button{
    float: right;
    height: 4rem; 
    width: 4rem;
    border: none;
    outline: none;
    background-color: transparent;
    background-size: contain;
    padding: .2rem;
    opacity: .6;
    transition: opacity ease .1s;
}
.searchMenu button:hover{
    opacity: 1;
}
.searchMenu button:active, .searchMenu button:focus{
    outline: none;
}
.listButton {
    background-image: url(images/listNotActive.png);
}

.listButton.active {
    background-image: url(images/listActive.png);
}
.gridButton {
    margin: 0 1rem;
    background-image: url(images/gridNotActive.png);
}

.gridButton.active {
    background-image: url(images/gridActive.png);
}
.listing {
    background: white;
    min-width: 15rem;
    height: 19.3rem;
    margin: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: .5rem;
    transition: all .4s ease;
    cursor: pointer;
}
    .listing.Delivery::after {
        content: "Delivery";
        float: right;
        font-size: 1rem;
        color: var(--logo-acc);
        margin: 0 1rem;
        margin-top: -.3rem;
    }
.list.listing.Delivery::after {
    content: "";
    float: right;
    font-size: 0rem;
    color: var(--logo-acc);
    margin: 0;
    margin-top: 0;
    align-self: flex-end;
}
    table{
    width: 100%;
}
    .listing p {
        margin: 0 1rem;
        font-size: 1.5rem;
    }
    .listing .type {
        font-family: 'Crete Round', serif;
        font-size: 2rem;
    }
    .listing .attr{
        font-size: 1rem;
        color: #555;
    }
    .listing .price:before {
        content: "$";
    }
    .listing .price {
        float: left;
    }
    .listing .bestBy{
        float: unset;
    }
    .listing .delivery{
        font-size: 1rem;
        margin-top: 1rem !important;
        color: var(--logo-acc);
        float: left;
    }
    .listing .listingImage {
        height: 8rem;
        width: 100%;
        max-width: 15rem;
        background-position: center;
        background-size: cover;
        border-radius: .5rem .5rem 0 0;
    }

.list.listing {
    width: 55rem;
    height: 5rem;
    margin: .3rem 1rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
        .list .listingImage {
            border-radius: 0;
            width: 7rem !important;
            height: 5rem;
            padding: .3rem;
            margin-right: .3rem;
        }
.list .price {
    float: unset;
}
.list p{
    margin: 0 6px;
}
.list .bestByHeight{
    height: 1rem;
}
.list table {
    width: 19rem;
}
.list.listing .type {
    padding-left: 1rem;
    width: 26rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list.listing td{
    width: 50%;

}
.bestBy {
    margin-top: -1.5rem !important; 
}

.loginCont {
    height: 65vh;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginForm {
    height: 21.5rem;
    width: 25rem;
    margin-top: 5rem;
    padding: 2.5rem;
    background: white;
    border-radius: .4rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.loginForm a{
    color: var(--logo-acc);
}
#sticky {
}

    #sticky.fixed {
        position: fixed;
        top: 0;
        z-index: 1000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }


#listingContainer {
    width: 100%;
    background-color: white;
    min-height: 70vh;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.listingContainerImage {
    height: 55rem;
    width: 50%;
    padding: 2rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 4rem solid white;
    box-sizing: border-box;

}
.listingContainerImageThumbContainer {
    width: 5.2rem;
    height: auto;
    float: right;
    padding: 0 .4rem;
    border-radius: .3rem;
    background: rgba(50,50,50,.4);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.listingContainerImageThumb {
    height: 4rem;
    width: 4rem;
    margin: .6rem .2rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: .1rem;
    background-position: center;
    background-size: cover;
}
.listingInfoContainer {
    width: 45%;
    overflow: hidden;
    padding: 4rem 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
}
    .listingInfoContainer h2 {
        font-family: 'Crete Round', serif;
    }
    .listingInfoContainer p{
        margin: 0;
    }
    .listingInfoContainer .unit{
        font-size: 2rem;
    }

    .listingInfoContainer .comment{
        width: 90%;
        max-width: 25rem;
        padding: .3rem;
        border: 1px solid #2f2f2f;
        border-radius: .3rem;
        margin-bottom: 1rem;
    }
.priceListing {
    background-color: #f8e333;
    padding: .3rem 1rem;
    border-radius: .3rem;
    width: 10rem;
    margin: 2rem -1rem !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
    .priceListing h2{
        margin-bottom: -0.4rem;
    }
    p h2{
        width: auto !important;
    }
    .related{
        font-size: 3rem;
        margin: 3rem 0 1rem 0;
    }
.relatedCont{
    width: 90vw;
    margin-left: 5vw;
    height: 23rem;
    overflow-x: scroll;
    display: flex;
}
.MyListing:after {
    content: "My listing";
    width: 100%;
    background: var(--logo-acc) !important;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 6.5rem;
}
.listingInfoTabel{
    display: flex;
    flex-flow: wrap;
    width: 100%;
    max-width: 50rem;
}
.listingInfoTabelItem{
    width: 50%;
    min-width: 15rem;
}
.sellCont {
    width: 100%;
    max-width: 46rem;
    display: flex;
    flex-flow: wrap;
    margin-left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 2rem;
}
.sellCont h1{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
    .sellCont h3 {
        margin-bottom: 2rem;
        font-weight: normal;
    }
.sellColum {
    width: 21rem;
    margin: 1rem;
}
    .sellColum select {
        border: 1px solid #dadfe2;
        border-radius: .2rem;
        height: 3.4rem;
        margin-left: 1rem;
        padding-left: 1rem;
    }
input, textarea {
    border: 1px solid #dadfe2;
    border-radius: .2rem;
    background: white;
}
    textarea{
        height: 8.5rem;
    }
    .ui-dropdown, .ui-calendar, .sellColum input {
        box-shadow: none;
        color: black;
        border-radius: .2rem;
        font-size: 1rem;
        height: 3.5rem !important;
        width: 20rem;
    }
.sellColum input {
   margin-bottom: .3rem;
}
.sellColum p{
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    width: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555 !important;
}

.messageInput{
    width: 100%;
    height: 4rem;
}

.sendMessage{
    font-weight: 700;
}
.edit{
    background-color: var(--logo-acc);
    color: white;
    margin-bottom: 2rem;
}
.breadcrumbs a{
    color: #555;
}


.conversation{
    height: 10rem;
    overflow-y: auto;
    display: flex;
    padding-top: 1rem !important;
    flex-direction: column-reverse;
}
.ui-tabview .messageInput {
    width: 70%;
    margin: 1rem;
    margin-left: 0;
    height: 3rem;
    float: left;
    margin-bottom: 0;
}
.ui-tabview .sendMessage {
    width: 20%;
    margin: 1rem;
    margin-bottom: 0;
}
.chatMessage {
    text-align: right;
    width: unset;
    max-width: 80%;
    padding: .2rem .5rem;
    margin-top: .5rem !important;
    margin-left: 20% !important;
    border: 1px solid #555;
    border-radius: .5rem .5rem 0 .5rem;
}
.chatMessage:last-of-type{
    margin-top: 5rem !important;
}
.ui-tabview-panels{
    overflow: hidden !important;
}
    .ui-tabview-panels a{
        font-family: Arial, Helvetica, sans-serif !important;
    }
    .ui-tabview-panels a:hover, .ui-tabview-panels a:active, .ui-tabview-panels a:focus {
        text-decoration: underline !important;
        color: #027FFF !important;
    }
.chatMessage.recieved {
    text-align: left;
    border: none;
    background: var(--logo-acc);
    color: white;
    margin-left: 0 !important;
    border-radius: .5rem .5rem .5rem 0;
}
.ui-tabview-nav li{
    border-top-color: var(--logo-acc) !important;
}

.ui-tabview-nav span {
    color: var(--logo-bg) !important;
}

.isArchived {
    width: 100%;
    font-size: 2rem;
    color: white;
    background: var(--yellow);
    text-align: center;
    padding: 1rem 0;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
}
.listingInfoContainer h2{
    width: 50rem;
}
.views {
    float: right;
}
    .views:before {
        content: "Views";
        position: absolute;
        font-size: .8rem;
        text-align: center;
    }

    .sellColum p{
        font-size: 1rem;
    }
    .sellColum h3{
        font-weight: 700;
    }
.companyButtons{
    display: flex;
    width: 10rem;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
}
.delete{
    background-color: var(--yellow);
    color: white;
    font-weight: 800;
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.queryContainer button {
    border: none;
    background-color: var(--logo-acc);
    color: white;
    font-size: 1rem;
    padding: .5rem 3rem;
    font-weight: 800;
    margin: 3rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.report{
    text-decoration: underline;
    cursor: pointer;
}
.report:hover{
    color: red;
}
.reportSelect{
    margin-top: 1rem;
    font-size: 1rem;
    padding: .5rem .5rem;
}
.reportView .listing{
    min-width: 10rem;
}
.reportButton {
    width: 5rem;
    float: right;
    font-size: 1rem;
    padding: .5rem .5rem;
    margin-top: .9rem;
    margin-right: 4rem;
    background: red;
    color: white;
    font-weight: 900;
}
.reports{
    display: flex;
    padding: 0 1rem;
}
.reportCount {
    font-size: 1rem;
    color: white;
    font-weight: 900;
    padding: .1rem .8rem;
    border-radius: 1rem;
    margin: .4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
    .reportCount.il {
        background-color: #ED4F32;
    }
    .reportCount.bl {
        background-color: #ed3234;
    }
    .reportCount.op {
        background-color: #FF7200;
    }
    .reportCount.od {
        background-color: #FFBA00;
    }

/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

    /* Hide the tooltip content by default */
    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        pointer-events: none;
    }

    /* Position tooltip above the element */
    [data-tooltip]:before {
        position: absolute;
        top: 150%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -80px;
        padding: 7px;
        width: 160px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        color: #fff;
        content: attr(data-tooltip);
        text-align: center;
        font-size: 14px;
        line-height: 1.2;
    }

    /* Triangle hack to make tooltip look like a speech bubble */
    [data-tooltip]:after {
        position: absolute;
        top: 124%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        border-bottom: 5px solid #000;
        border-bottom: 5px solid hsla(0, 0%, 20%, 0.9);
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: " ";
        font-size: 0;
        line-height: 0;
    }

    /* Show tooltip content on hover */
    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
    }