@page "/addCompany"
@page "/addCompany/{CompanyId}"
@inject ISocketService SocketService
@inject IUserService UserService
@inject ICompanyService CompanyService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using ForagerTier1.Models
@using ForagerTier1.Persistance 

<AuthorizeView>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
    <Authorized Context="Auth">
        <div>
            <EditForm class="sellCont" Context="Company" Model="@newCompany" OnValidSubmit="AddNewCompany">
                <h1>Create a company<span class="acc">.</span></h1>
                <h3 style="width: 100%;">Create a company in the form below</h3>
                <div class="sellColum">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <p>Cvr</p>
                        <RadzenTextBox @bind-Value=@newCompany.Cvr />
                    </div>

                    <div class="form-group">
                        <p>Name</p>
                        <RadzenTextBox @bind-Value=@newCompany.Name />
                    </div>

                    <div class="form-group">
                        <p>Address</p>
                        <RadzenTextBox @bind-Value=@newCompany.Address />
                    </div>

                </div>
                <div class="sellColum">
                    <div class="form-group">
                        <p>Postcode</p>
                        <RadzenTextBox @bind-Value=@newCompany.PostCode />
                    </div>
                    <div class="form-group">
                        <RadzenTemplateForm TItem="Company" Data=@newCompany>
                            <p>ConnectionAddress</p>
                            <RadzenMask Mask="***.***.***.***" Pattern="[^0-9]" Placeholder="000.000.000.000" Name="ConnectionAddress" @bind-Value=@newCompany.ConnectionAddress />
                        </RadzenTemplateForm>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </Authorized>
</AuthorizeView>


@code {
    [Parameter]
    public string CompanyId { get; init; }

    public Company newCompany = new Company();

    protected override async Task OnParametersSetAsync()
    {
        if(CompanyId is not null)
        {
            newCompany = CompanyService.GetCompany(CompanyId);
        }
    }

    public void AddNewCompany()
    {
        string id = CompanyService.CreateCompany(newCompany);

        NavigationManager.NavigateTo("/company/" + id);
    }
}
}

